html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	/*overflow-x: hidden;*/
}


.bg1 {
	z-index: 2;
 	/*background-position: center;*/
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	background-image: url('../images/pexels-photo-360912.jpeg');
	background-attachment: fixed;
}

.diamond-main {
	position: relative;
	/*border-radius: 50%;*/
	transform: rotate(45deg);
	margin: auto;
	height: 0px;
	width: 50%;
	padding: 25%;
	/*top: 0px;*/
	/*left: 25%;*/
	overflow: hidden;
}

.diamond-in {
	transform: rotate(-45deg);
	position: absolute;
}

.pos2 {
	background-position: 27px 0%;
	width: 17%;
	height: 25%;
	top: 158px;
	left: 25%;
}

.pos1 {
	background-position: 147px -34%;
	top: 371px;
	left: 13%;
	width: 22%;
	height: 25%;
}

.pos3 {
	background-position: center;
	top: 0;
	left: 39%;
	width: 22%;
	height: 25%;
}

.pos4 {
	background-position-y: 100%;
	top: -158px;
	right: 25%;
	width: 17%;
	height: 25%;
}

.pos5 {
	background-position-y: 144%;
	top: -371px;
	right: 13%;
	width: 22%;
	height: 25%;
}

#portNav {
	height: 5vh;
	width: 100vw;
	position: fixed;
	background-color: #2d3047;
	top: 0;
	left: 0;
	z-index: 2;
}

#portMain {
	min-height: 100vh;
	overflow: hidden;
	display: inline-block;
}

#portLrnd {
	min-height: 100vh;
}

#portPrjct {
	min-height: 100vh;
}

#portCntct {
	min-height: 100vh;
}

.name, .title {
	color: white;
	font-family: 'Permanent Marker', cursive;
	text-shadow: 0px 0px 5px #333;	
}

.name {
	font-size: 30px;
}

.title {
	font-size: 20px;
}

#personalInfo {
	position: absolute;
	text-align: center;
	width: 100vw;
	background: transparent;
	top: 75%;
	left: 0;
}